.main {
  display: flex;
}

.th-i{
  cursor: pointer;
  color: var(--secondary-font-color);
  font-size: 1.9rem;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 210px;
  background: var(--primary-background);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  z-index: 2;
}

.sidebar .sidebarheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .sidebarheader > a {
  font-size: 1.9rem;
  color: var(--secondary-font-color);
  font-weight: 600;
}

.sidebar .side-nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar .side-nav .item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar .side-nav .item a {
  color: var(--third-font-color);
  transition: all 0.3s ease;
}

.sidebar .side-nav .item i {
  font-size: 20px;
  color: var(--third-font-color);
  transition: all 0.3s ease;
}

.sidebar .side-nav .item.active {
  background: var(--con-background);
  transition: all 0.3s ease;
}

.sidebar .side-nav .item:hover {
  background: var(--overlay-bg);
  transition: all 0.3s ease;
}

.sidebar .side-nav .item:hover p,
.sidebar .side-nav .item:hover i {
  color: var(--secondary-font-color);
  transition: all 0.3s ease;
}

.sidebar .side-nav .item.active:hover {
  background: var(--secondary-background);
}

.sidebar .side-nav .item.active:hover p,
.sidebar .side-nav .item.active:hover i,
.sidebar .side-nav .item.active p,
.sidebar .side-nav .item.active i {
  color: var(--primary-font-color);
  font-weight: bold;
}

.container {
  flex: 1;
  margin-left: 210px;
  padding: 20px;
  z-index: 1;
  transition: all 0.3s ease;
}

/* Profile Section */
.me {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.me-left {
  width: 40%;
  margin-right: 10px;
  height: 70%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.conversation {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.conversation::-webkit-scrollbar {
  display: none;
}

.me-right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 30%;
  height: 70%;
  background-color: var(--overlay-bg);
  border-radius: 20px;
}

.me-right .sky {
  height: 40%;
  width: 100%;
  background: linear-gradient(to bottom, var(--primary-background) 0%, var(--secondary-background) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cloud {
  width: 50px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--con-background);
  filter: drop-shadow(8px 8px 0 var(--shadow-color));
  animation: animateCloud 2s linear infinite;
}

@keyframes animateCloud {
  0% {
    filter: drop-shadow(1px 1px 0 var(--shadow-color)) drop-shadow(0 0 0 var(--secondary-font-color)) brightness(1);
  }
  90% {
    filter: drop-shadow(8px 8px 0 var(--shadow-color)) drop-shadow(0 0 50px var(--third-font-color)) brightness(1.5);
  }
}

.cloud::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 8px;
  width: 30px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--third-font-color);
  box-shadow: 6px -3px 0 1px var(--third-font-color);
}

.cloud::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--third-font-color);
  border-radius: 10px;
}

.cloud .drop {
  position: absolute;
  top: 0;
  background: var(--third-font-color);
  width: 1px;
  height: 3px;
  transform-origin: bottom;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0) scaleY(1);
  }
  70% {
    transform: translateY(360px) scaleY(1);
  }
  80% {
    transform: translateY(360px) scaleY(0.2);
  }
  100% {
    transform: translateY(360px) scaleY(0.2) scaleX(15);
  }
}

.me-right .water {
  height: 40%;
  width: 100%;
  background: linear-gradient(to bottom, var(--secondary-background) 50%, var(--third-font-color) 100%);
}

.me-right .land {
  height: 40%;
  width: 100%;
  background: linear-gradient(to top, var(--primary-font-color) 0%, var(--third-font-color) 50%, var(--secondary-font-color) 100%);
}

/* Conversation Bubbles */
.co-left,
.co-right {
  display: flex;
  margin-bottom: 5px;
}

.co-left {
  justify-content: start;
  transition: all 0.3s ease;
}

.co-right {
  justify-content: end;
  transition: all 0.3s ease;
}

.co-right p {
  width: fit-content;
  color: var(--secondary-font-color);
  padding: 10px;
  background-color: var(--primary-background);
  border-radius: 10px;
  border-top-right-radius: 0px;
  max-width: 70%;
}

.co-left p {
  width: fit-content;
  color: var(--primary-font-color);
  padding: 10px;
  background-color: var(--overlay-bg);
  border-radius: 10px;
  border-top-left-radius: 0px;
  max-width: 70%;
}

/* Profile Content */
.me .me-left .head p,
.head h4,
.description {
  margin-bottom: 10px;
  padding: 10px;
  background-color: var(--overlay-bg);
  border-radius: 10px;
}

.head p h3 {
  color: var(--primary-font-color);
}

.social {
  margin: 5px;
  display: flex;
  width: 100px;
  justify-content: space-evenly;
  align-items: center;
}

/* Tech Stack Section */
.tech-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.tech-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.tech-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 1.2rem;
  color: var(--primary-font-color);
  font-weight: 600;
  background-color: var(--secondary-background);
}

.tech-title i {
  font-size: 30px;
  color: var(--third-font-color);
  transition: all 0.3s ease;
}

.tech-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--con-background);
}

.tech-content p {
  color: var(--primary-font-color);
  line-height: 1.5;
  margin-top: 10px;
  font-size: 0.9rem;
}

.tech-card:hover {
  transition: all 0.3s ease;
  transform: translateY(-5px);
  box-shadow: var(--card-hover-shadow);
}

.tech-card:hover .tech-content p {
  font-size: 0.85rem;
  color: var(--secondary-font-color);
  font-weight: bold;
}

.tech-title i:hover {
  color: var(--primary-font-color);
}

.tech-card:hover .tech-content {
  transition: all 0.3s ease;
  background-color: var(--primary-background);
}

/* Projects Section */
.project-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  padding: 20px 0;
  margin-bottom: 20px;
}

.project-card {
  box-shadow: 0 4px 8px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.project-card:hover {
  transition: all 0.3s ease;
  transform: translateY(-5px);
  box-shadow: var(--card-hover-shadow);
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 1.2rem;
  color: var(--primary-font-color);
  font-weight: 600;
  background-color: var(--secondary-background);
}

.project-title a {
  font-size: 30px;
  color: var(--third-font-color);
}

.project-title a:hover {
  color: var(--primary-font-color);
  text-decoration: underline;
}

.project-content {
  flex-grow: 1;
  color: var(--primary-font-color);
  line-height: 1.5;
  padding: 20px;
  background-color: var(--con-background);
}

.project-content p {
  color: var(--primary-font-color);
  margin: 0;
  font-size: 0.9rem;
}

.project-card:hover .project-content {
  background-color: var(--primary-background);
  transition: all 0.3s ease;
}

.project-card:hover .project-content p {
  color: var(--secondary-font-color);
  font-size: 0.85rem;
  font-weight: bold;
}

.techstack {
  background-color: var(--secondary-background);
  padding: 10px;
  border-radius: 6px;
  font-size: 0.9rem;
  margin-top: 20px;
  margin-bottom: 12px;
  font-family: monospace;
  color: var(--primary-font-color);
}

/* Others Section */
.close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--primary-background);
  color: var(--secondary-font-color);
}

.close i {
  font-size: 2rem;
}

.close:hover {
  transform: translateY(-1px);
  box-shadow: var(--card-hover-shadow);
  transition: all 0.3s ease;
}

.other-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

.other-card {
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.other-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 1.2rem;
  color: var(--primary-font-color);
  font-weight: 600;
  background-color: var(--secondary-background);
}

.other-title i {
  font-size: 30px;
  color: var(--third-font-color);
  transition: all 0.3s ease;
}

.other-content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--con-background);
}

.other-content p {
  color: var(--primary-font-color);
  line-height: 1.5;
  margin-top: 10px;
  font-size: 0.9rem;
}

.other-card:hover {
  transition: all 0.3s ease;
  transform: translateY(-5px);
  box-shadow: var(--card-hover-shadow);
}

.other-card:hover .other-content p {
  font-size: 0.85rem;
  color: var(--secondary-font-color);
  font-weight: bold;
}

.other-title i:hover {
  color: var(--primary-font-color);
}

.other-card:hover .other-content {
  transition: all 0.3s ease;
  background-color: var(--primary-background);
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    margin-left: 0;
  }
  
  .logo {
    display: none;
  }
  
  .footer {
    display: none;
  }
  
  .sidebar {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    flex-direction: row;
    align-items: center;
  }
  
  .sidebar .side-nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-evenly;
  }
  
  .sidebar .side-nav .item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .sidebar .side-nav .item p {
    display: none;
  }
  
  .me {
    width: 100%;
    height: 90%;
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .me-right {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 18%;
    background-color: var(--third-font-color);
    border-radius: 50%;
  }
  
  .me-left {
    width: 80%;
  }
  
  .conversation {
    width: 100%;
  }
}