.mainChessBox {
  /* width: 80%; */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease;
  /* background-color: rebeccapurple; */
}
@media (max-width: 768px) {
  .mainChessBox {
    justify-content: flex-start;
  }
}
.chessGameBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease;
  padding: 10px;
  transition: all 0.3s ease;
}
.chessRow {
  /* height: 100px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.chessCol {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  height: clamp(1.5rem, 3vw, 3rem);
  width: clamp(1.5rem, 3vw, 3rem);
  font-size: clamp(2rem, 3vw, 3rem);
  text-align: center;
  padding: clamp(1.2rem, 3vw, 2rem);
  color: var(--primary-font-color);
  transition: all 0.3s ease;
}
.chessCol-bg {
  background-color: var(--overlay-bg);
}
.chess-check {
  border: solid 3px red;
  transition: all 0.3s ease;
}

.piece {
  position: relative;
  transition: all 0.3s ease;
}
.piece:hover {
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.chessCol:hover {
  background-color: var(--shadow-hover);
}

.piece-active {
  font-weight: bolder;
  transition: all 0.3s ease;
}

.piece-canMove {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: clamp(1rem, 3vw, 1.5rem);
  height: clamp(1rem, 3vw, 1.5rem);
  border-radius: 50%;
  background-color: var(--third-font-color);
  pointer-events: none;
  transition: all 0.3s ease;
}

.promote{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  .promote {
    flex-direction: column;
  }
}
.promote p{
  cursor: pointer;
  color: var(--primary-font-color);
  background-color:var(--secondary-background);
  font-size: clamp(2rem, 3vw, 3rem);
}
.promote p:hover{
  transform: translateY(-2px);
  transition: all 0.3s ease;
}
